
.row {
  display: table;
  height: inherit;
}


/* text */


.left {
  vertical-align: top;
  width: 70%;
  display: table-cell;
  max-height: 100%;
}


/* right links */

.right {
  padding-left: 2%;
  width: 25%;
  display: table-cell;
}

.main-img {
  overflow:hidden 
  max-width: 100%;
}

.img-3 {
  display: inline-block;
  position: relative;
  max-width: inherit;
  width: auto;
  margin: 1%;
  padding: 1.2% 1.2% 0 1.2%;
  background-color: rgba(250, 5, 124, 0.5);
  height: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  text-align: center;
}

.img-3:hover .overlay {
  opacity: 1;
}

.opacity-txt {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
  height: 100%;
  
}

.opac-p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40%;
}

a.img, .small-img {
  max-width: inherit;
  width: auto;
}


/* BELOW*/

.login-txt {
  padding-top: 2%;
}

/* **************************

      MAIN DIVS REST PAGE 


************************** */


.content-234{
  display: table;
  width: 100%;
}


.white.c-50.back-img {
  background-image: url(images/to-do.jpg);
}


/* cards */

.card {
  margin: 2%;
  vertical-align: middle;
  text-align: center;
  padding: 2%;
  /*border-style: 0.2em, solid, color: rgba(250, 5, 124,0.8);*/
}

.container {
  position: relative;
  text-align: center;
}
.card-img { 
  opacity: 0.86;
}

.c-33.cards {
  padding-top: 5%;
}

.p-cards-33 {
  padding: 0 20%;
  text-align: justify; 
}

/* author */

.about-author {
  text-align: center;
}

.about-author img {
  width: 40%;
  border-radius: 50%;
  padding: 10% 10%;
}

.p-cards-33.white-txt {
  margin-bottom: 5%;
}

.title-auth {
  padding-top: 15%;
}

.icons {
  padding: 5% 3%;
}

.icons:hover {
  color: rgb(250, 5, 124);
}

.alice.back-img {
  background-image: url(images/alice2.jpg);
  opacity: 0.8;
}

.sm-col {
  padding-bottom: 5%;
}


/* ********************

MEDIA

******************* */

/* mobile */
@media (max-width: 767px){

  body {
    margin: 0;
    padding: 0;
    font-size: 90%;
  }
  .background {
    background-image: none;
  }

  .content-234, .c-50, .c-33, .c-100,.c-77, .left, .right, .main-content {
    display: block;
    width: inherit;
  }

  .main-content-wrapper {
    padding: 1%;
    margin: 1%;
  }

  .center-txt {
    padding: 0.5%;
    width: inherit;
  }

  .center-txt.narrow {
    padding-bottom: 5%;
  }

  .login-txt {
    text-align: center;
  }

  .maxi {
    font-size: 300%;
    padding-bottom: 2%;
  }

  .pink.c-50 {
    padding-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* buttons */
  .btn {
    font-size: 12px;
  }

  button:hover {
    font-size: 14px;
  }

  .right {
    padding-top: 2%;
    padding-left: 0;
    text-align: center;
  }

  .card.middle {
    margin: 0;
  }

  .space {
    padding: 4% 4%;
  }

  .box-shadow {
    box-shadow: none;
  }

  .p-cards-33 {
    padding: 1% 4%;
  }

  .alice.back-img {
    display: none;
  }
  .card-img {
    opacity: 0.6;
  }
}

/* tablets */


@media (min-width: 426px) and (max-width: 500px){
  .p-cards-33 {
    padding: 2% 15%;
  }
  .bottom.main-img {
    display: block;
    width: inherit;
  }
  .bottom.main-img {
    margin: 2% 20%;
  }
}

@media (width: 487px){
  .btn {
    margin: 3%;
  }

}

@media (min-width: 501px) and (max-width: 600px){
  .p-cards-33 {
    padding: 2% 20%;
  }
  .bottom.main-img {
    display: block;
    width: inherit;
  }
  .bottom.main-img {
    margin: 2% 20%;
  }
}

@media (min-width: 601px) and (max-width: 767px){
  .p-cards-33 {
    padding: 2% 25%;
  }
  .bottom.main-img {
    display: block;
    width: inherit;
  }
  .bottom.main-img {
    margin: 2% 20%;
  }
}

@media (min-width: 768px) and (max-width: 999px){

  body {
    font-size: 95%;
  }
  .p-cards-33 {
    padding:  2% 27%;
  }

  .c-100, .c-33.cards {
    display: block;
    width: inherit;
  }

  .maxi {
    font-size: 300%;
  }

  .center-txt {
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .narrow {
    padding-left: 7%;
    padding-right: 7%;
  }

  .c-33.cards {
    padding-top: 0;
  }

  .card-img {
    opacity: 0.6;
  }
  /* about */

  .c-33.orange {
    width: 45%;
  }

  .c-77.pink.alice {
    width: 55%;
  }

  .p-cards-33.white-txt {
    padding: 2% 7%;
  }
}

/* small laptops */

@media (min-width: 1000px) and (max-width: 1200px){
  .p-cards-33 {
    padding: 2% 7%;
  }

  .center-txt {
    padding-bottom: 2%;
  }

  .narrow {
    padding: 1% 5%;
  }
}


@media (min-width: 1900px) {
  body {
    font-size: 150%;
  }

  .btn {
    font-size: 105%;
  }

  button:hover {
    font-size: 115%;
  }

  .c-50.middle {
    padding-top: 5%;
  }

}