/* **************************

        COLORS
        
************************** */

.orange-txt {
  color: rgb(231,165,10);
}
.pink-txt {
  color: rgb(250, 5, 124);
}

.light-pink {
  background-color: rgb(249,225,238);
}

.orange {
  background-color:  rgb(231,165,10);
}

.pink-85 {
  background-color: rgba(250, 5, 124,0.85);
}

.pink {
  background-color: rgb(250, 5, 124);
}

.white {
  background-color: rgb(249, 249, 255);
}

.white-2 {
  background-color: rgba(255, 255, 255, 0.7);
}

.white-txt {
  color: white;
}

/* **************************

        MAIN CONTENT 
        
************************** */
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: rgb(160, 3, 78);
  font-size: 18px;
  transition: 1s;
}

.background {
  background-image: url(images/background.jpg);
  width: 100%;
}

.back-img {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

article {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(231,165,10);
  font-weight: bold;
}

a.inline-links:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.6s; /* Safari */
   transition-duration: 0.6s;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* main box */

.main-content {
  width: 100%;
  display: flex;
  max-height: inherit;
}

.main-content-wrapper {
  margin: 4% 10% 12% 10%;
  background-color: rgb(249, 249, 255);
  padding: 5% 5% 2% 5%;
  width: 100%;
}


h1 {
  color: rgb(250, 5, 124);
  margin: 0;

}
h4 {
  font-size: 150%;
  margin-top: 0.3em;
}

/* buttons */

.btn-content {
  text-align: center;
  vertical-align: bottom;
}

.buttons {
  padding-top: 10%;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-red {
  background-color: rgb(250, 5, 124);
}

.btn-red:hover {
  background-color: rgb(231,165,10);
}

.btn-yellow {
  background-color: rgb(231,165,10);
}

.btn-yellow:hover {
  background-color: rgb(250, 5, 124);
}

button:hover{
  font-size: 16px;
  opacity: 0.8;
}

button:active, button:focus {
  outline-color: rgba(214,152,10,0.4); 
}

#btn-txt {
  text-align: justify;
  padding: 0 10%;
}



/* **************************

     OTHER MAIN "SETTINGS" 

************************** */


.middle {
  vertical-align: middle;
}

.clear {
  clear: both;
  width: 100%;
}

.center-txt {
  text-align: center;
  /*padding-top: 5%;*/
}

.pad-add {
  padding-top: 5%;
}

.center-txt.narrow {
  padding: 1% 10%;
}

.centered {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;

}

.centered:hover {
  font-size: 600%;
}

.maxi {
  font-size: 400%;
}

.midi-2 {
  font-size: 200%;
}

.midi {
  font-size: 150%;
}

.space {
  padding: 5% 8%;
}

.space:first-child {
  padding-top: 0;
}



/* **************************

        COLUMNS

************************** */

.c-100 {
  width: 100%;
  display: table;
}

.c-50 {
  width: 50%;
  display: table-cell;
}

.c-33 {
  width: 33.33%;
  display: table-cell;
}

.c-77{
  width: 77.77%;
  display: table-cell;
}



/* **************

      FOOTER 

**************** */

footer {
  text-align: center;
}

.footer-txt {
  font-size: 88%;
}


/* **********************

    NOT INDEX: 

********************** */


/* NAVBAR */ 
.navbar {
  min-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 5%;
  /*display: inline-block;*/
}

ul.nav-list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav-li {
  float: left;
  padding-left: 3%;
}

.nav-li:last-child {
  float: right;
  padding-left: none;
  padding-right: 2%;
}

li.nav-li:active:visited {
  outline: rgba(231,165,10,0.8);
}

li a.a-white {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

a.a-white:hover {
  color: rgba(231,165,120,0.8);
}


/* inputs */ 
.input {
  min-width: 200px;
  min-height: 30px;
  margin: 1%;
}

hr {
  width: 40%;
}


/* media navbar */

@media  (max-width: 425px) {
  .navbar {
    position: relative;
  }

  .nav-li:not(:first-child):not(:last-child){
    border-right: none;
    padding-right: none;
    display: none;
  }

  hr {
    width: 75%;
  }

}